/* Banner */
.home__banner{
    background-image: url(..//..//assets/images/home-banner-img.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: inset 140px 180px 180px 180px    rgba(0,0,0,.7);
  
    
}

.home__banner__title{
color: #fff;
}
.home__banner__title h1 {
    font-size: 60px;
     
}
.home__banner__title p{
    font-size: 34px;
    padding-top: 10px;
    font-family: Lato;
font-size: 24px;
font-weight: 400;
letter-spacing: 0em;



}

/* ADVANTEGES__SECTION */

.advantages__section{
       padding-top: 30px;
       background-color:  #fff;
       padding: 20px    ;
}
.advantages__title  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    color: #c5bf9f;
 
}

.advantages__intro{
    padding-top: 30px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
   font-size: 14px;
   line-height: 3em;
   color: #000;


}

/* GOALS__SECTION */
.goals__section{
    padding-top: 30px;
    background-color:  #c5bf9f;;

    
}

.goals__title{
    display: flex;
    align-items: center;
    justify-content: center;
   color:  #FFFFFF  ;
    font-size: 35px;
}

.goals__card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    padding: 12px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    
}
.goals__card p{
    width: 500px;
}

.first__card, .second__card, .thrid__card,  .fourth__card{
display: flex;
align-items: center;
border-radius: 11px;
background-color: #FFFFFF;
padding: 20px;
margin: 10px;
gap: 10px;
}
.goals__img{
  
    border-radius: 10px;
}