.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8f0fb;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  padding: 10px 200px 0 30px;
}
a {
  font-size: 20px;
  font-weight: 400;
  margin-right: 50px;
  text-decoration: none;
  color: #5f5959;
}
.header__contact {
  display: flex;
  align-items: center;
  color: #5f5959;
}
.header__contact span {
  padding-left: 5px;
  padding-top: 2px;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 30px;
}
.header__contact p {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
}
