.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c5bf9f;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  padding: 10px 200px 0 30px;
}
a {
  font-size: 20px;
  font-weight: 400;
  margin-right: 50px;
  text-decoration: none;
  color: #5f5959;
}

a.active,
a:hover {
  font-weight: 600;
  color: #0197f6;
  transition: all 0.5s;

}



.header__contact {
  display: flex;
  align-items: center;
  color: #5f5959;
}
.header__contact span {
  padding-left: 5px;
  padding-top: 2px;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 30px;
}
.header__contact p {
  padding-right: 150px;
  font-size: 15px;
  font-weight: 400;
}
.header__menu__responsive {
  display: none;
}

@media only screen and (max-width: 375px) {
  .header {
    width: 375px;
    height: auto;
  }
  .header__logo {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 5px 20px;
  }
  .header__menu {
    display: none;
  }
  .header__contact {
    display: none;
  }
  .header__menu__responsive {
    display: flex;
    padding-bottom: 10px;
    margin-left: 100px;
  }
  .header__button__responsive {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 30px;
    background-color: transparent;
    color: #5f5959;
    border: none;
  }
  .header__button__responsive:hover {
    cursor: pointer;
  }
  .header__routing__responsive {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px;
  }
}
