* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mada", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.logo:hover {
  cursor: pointer;
}
a {
  list-style-type: none;
  text-decoration: none;
}
.line {
  background: #c5bf9f;
  height: 2px;
  border: none;
}
